weights/
runs/
logs/
__pycache__/
*.pt
*.pth
*.zip
*.jpg
*.jpeg
*.png
*.cache
comparison_reports/**/validation/
comparison_reports/**/area_predictions.json
.env

*.tar.gz
comparison_reports/**/predictions*.json
comparison_reports/**/area_predictions.json

**/.git_saved/
